<!-- main-page.component.html -->

<div class="landing-page">
  <div class="container">
    <h1>Welcome to Quizzland!</h1>
    <p>
      Quizzland is your ultimate destination for creating, exploring,
      and playing an extensive range of quizzes tailored to your interests and knowledge levels.
      Whether you're a trivia enthusiast, an aspiring quiz creator, or simply looking for a fun way to challenge yourself and your friends,
      Quizzland has something for everyone
    </p>
    <p>
      Unleash your creativity and expertise by designing captivating quizzes on topics that inspire you.
      With QuizMaster, you have the unique opportunity to monetize your quizzes by offering them for sale to our community of quiz enthusiasts.
      Craft quizzes that stand out, set your price, and earn revenue based on the popularity and engagement of your content
    </p>
    <div class="picture-container">
      <!-- Replace 'path_to_your_image' with the actual path to your image -->
      <img src="path_to_your_image" alt="Website Picture">
    </div>
  </div>
</div>
